.icon {
    margin: 0px auto;
    width: 20px;
    height: 20px;
    color: #ffffff;
    z-index: 10;
}
.burgerButon{
    background-color: #199697;
    padding: 12px
}
.drawerLightBg {
  background-color: #f8fafc; /* Un color claro, puedes cambiarlo */
}
.textMenu{
    color:rgb(141, 141, 141);
    list-style: none;
}
.drawerLightBg .textMenu {
  list-style: none !important;
}
.drawerLightBg ul,
.drawerLightBg ul li {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
