.navbar {
  display: flex;
  overflow: hidden;
  background-color: white;
  transition: background-color 300ms;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 100vw;
  z-index: 10;
  line-height: 50px;
  color: gray;
}
.logoMee {
  height: 60px;
}

.subnav a {
  float: left;
  font-size: 16px;
  color: rgb(111, 111, 111);
  text-align: center;
  text-decoration: none;
  align-items: center;
  height: 80px;
  line-height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}
.subnav .subnavbtn {
  display: flex;
  font-size: 16px;
  line-height: 80px;
  height: 100%;
  border: none;
  outline: none;
  color: rgb(116, 116, 116);
  text-align: center;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #eee;
  transition: background-color 600ms;
  z-index: 10;
}
.show {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100px;
  height: 100px;
}
.subnavContent {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  opacity: 0;
  height: 400px;
  color: #6e6e6e;
  transform: translateY(-50%);
  transition: opacity 600ms, transform 600ms;
  z-index: 10;
}

.subnavContent a {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  transition: background-color 600ms;
  align-items: center;
  justify-content: center;
  height: fit-content;
  line-height: 10px;
}
a:hover .subnavContent {
  background-color: #eee;
  color: #f9b03a;
}
.subnav:hover > .subnavContent,
.subnavContent:hover {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  align-content: center;
  transition: opacity 600ms, transform 600ms;
  opacity: 1;
  color: #949494;
  transform: translateY(0%);
}
.divStyle {
  padding: 0 16px;
}
.subnavContent .category {
  height: fit-content;
}
.icon {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  color: #949494;
  z-index: 10;
}
.navbar:hover {
  background-color: white;
  color: black;
}
.navbar:hover a {
  color: black;
}

.optionsNav {
  display: flex;
}
.category {
  display: flex;
  height: 200px;
  width: 420px;
  align-items: flex-start;
  font-size: larger;
  padding-right: 20px;
  justify-content: space-between;
}
.category:hover {
  background-color: #eee;
  transition: background-color 600ms;
  cursor: pointer;
}

.slidebottom {
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slideRight{
  position: absolute;
  margin-left: 450px;
  -webkit-animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.overlay{
  position:absolute;
  display:flex;
}
/**/

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .navbar {
    height: 80px;
  }
  .subnav {
    display: none;
  }
  .optionsNav {
    display: none;
  }
}
