.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  background: #f5f5f5;
  overflow: hidden;
  border-radius: 16px;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color:black
}

@media (max-width: 900px) {
  .container {
    max-width: 100vw;
    padding: 1.2rem 0.5rem;
  }
  .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0.5rem 0.2rem;
    border-radius: 8px;
  }
  .heading {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0.2rem 0.2rem;
    border-radius: 8px;
  }
  .heading {
    font-size: 2rem;
  }
}