.container {
  min-height: 200px;
  width: 100%;
  background-color: #ffffff;
}
.logoMenuContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.menu {
  display: flex;
  justify-content: end;
}
.option {
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  color: gray;

}
.divider {
  border: none;
  height: 2px;
  background-color: #ccc;
  width: 90%;
}
.logo{
  margin-bottom: 20px;
}
