@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
:root {
  --font-primary: "Inter", sans-serif;
  --color-bg: #f4f4f4;
  --color-text: #1a1a1a;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  
  max-width: 1250px;
  margin: 0px auto;
}
.textBox {
    margin-left: 40px;
}

.box {
  background: linear-gradient(to bottom right, #ffffff, #f3f3f3);
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(248, 74, 74, 0.1); /* sombra suave */
  padding: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  backdrop-filter: blur(6px); /* efecto moderno, si hay transparencia */
  /* background-image: url("./cable.jpg"); */
  background-position: center;
  background-size:cover;
  overflow: hidden;
  /* borde sutil */
}

.imageBox{
    width: 10px;
    height: 10px;
}

.text {
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 20px;
  color: rgb(121, 121, 121);
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 2rem;
  font-weight: 400;
  overflow: hidden;
  margin-top: 20px;
}
.gradientText {
  font-weight: 700;
  font-size: 55px;
  background: linear-gradient(90deg, #99e1e1, #c0c0c0, #199697, rgb(0, 115, 140));
  background-size: 300% 300%;
  animation: gradientShift 8s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 1.2;
  letter-spacing: -1px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.photoText{
    font-size: xx-large;
    z-index: 10;
    color: white;
}

.btn {
  margin-top: 40px;
  background-color: rgb(25, 150, 151);
  width: 200px;
  height: 50px;
  border-radius: 6px;
  font-size: large;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
}
.btn:hover::before {
  animation: shine 0.8s forwards;
}
.btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}